	<!-- Footer -->
	</div>
  <footer >
    <div>Location</div>
    <div>Camp de les Moreres 14
      <br>08401 Granollers</div>
    <div>Desenvolupat amb SYMFONY</div>
    <div>Symfony és un framework de desenvolupament web.
      <a href="https://symfony.com/">Comença</a>.</div>
  </footer>

  <div>
    <small>Copyright &copy; Your Website {{ "now"|date('Y') }}</small>
  </div>
